<form method="post" action="/addPerk">
  <div class="form-group">
    <label for="name">Membership</label>
    <select class="form-control" name="name">
      <option value="CAA">CAA</option>
      <option value="AMEX">AMEX</option>
    </select>
  </div>
  <div class="form-group">
    <label for="perkName">Perk Name</label>
    <input type="text" class="form-control" id="perkName" name="perkName" required>
  </div>
  <div class="form-group">
    <label for="perkDescription">Perk Description</label>
    <input type="text" class="form-control" name="perkDescription" placeholder="Enter perk description">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
